* {
    font-family: Montserrat !important;
}

body {
    color: white;
}


/*--------------------  Header Area -------------------*/

.logo a {
    display: inline-block;
    max-width: 120px;
}

.nav-item .nav-link,
.dropdown-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
}


/*-------------------- END Header Area -------------------*/


/*--------------------  Sidebar Menu -------------------*/

.sidemenu p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.sidemenu li a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.search-box form {
    position: relative;
}

.search-box input {
    width: 350px;
    border-radius: 33px;
    border: none;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    letter-spacing: 0;
    background: #f3eeff;
}

.search-box input::-webkit-input-placeholder {
    color: #b1a7a7;
}

.search-box input::-moz-placeholder {
    color: #b1a7a7;
}

.search-box input:-ms-input-placeholder {
    color: #b1a7a7;
}

.search-box form i {
    position: absolute;
    right: 21px;
    top: 14px;
    font-size: 14px;
    color: #b1a7a7;
}


/*-------------------- END Sidebar Menu -------------------*/


/*-------------------- 404 Page ------------------- */

.error-area {
    min-height: 100vh;
    background: #F3F8FB;
}

.error-content {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 70px 30px;
}

.error-content h2 {
    font-size: 98px;
    font-weight: 800;
    color: #686cdc;
    margin-bottom: 28px;
    text-shadow: -3px -3px 0 #ffffff, 3px -3px 0 #ffffff, -3px 3px 0 #ffffff, 3px 3px 0 #ffffff, 4px 4px 0 #6569dc, 5px 5px 0 #6569dc, 6px 6px 0 #6569dc, 7px 7px 0 #6569dc;
    font-family: 'lato', sans-serif;
}

.error-content img {
    margin-bottom: 50px;
}

.error-content p {
    font-size: 17px;
    color: #787bd8;
    font-weight: 600;
}

.error-content a {
    display: inline-block;
    margin-top: 40px;
    background: #656aea;
    color: #fff;
    padding: 16px 26px;
    border-radius: 3px;
}


/*-------------------- END 404 Page ------------------- */


/* -------------------- Started Ulkit slider ------------------------  */

.uk-dotnav>*>* {
    border: 1px solid;
    background: white !important;
    height: 13px !important;
    width: 13px !important;
}

.uk-dotnav>.uk-active>* {
    background-color: #FFA510 !important;
    border-color: transparent;
}

.uk-slidenav-position .uk-slidenav {
    display: block;
}


/* -------------------- Ended Ulkit slider ------------------------  */


/* ---------------- Started Featured Products---------------- */

.featured_products {
    margin-top: 40px;
}

.featured_products a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.featured_products h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.featured_products .card .product_name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}


/* ---------------- Ended Featured Products---------------- */


/* ---------------- Started Item Lists---------------- */

.item_lists {
    margin-top: 40px;
}

.item_lists a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.item_lists h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.item_lists .card .product_name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.item_lists .card {
    background-color: #F4F7F9;
}

.item_lists .card .price {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.item_lists .see_more {
    background: #FFA510;
    border-radius: 100px;
    width: 200px;
    height: 48px;
    left: 347.5px;
    top: 1159.98px;
}


/* ---------------- Ended Item Lists---------------- */


/* ---------------- Started Footer ------------------*/

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}


/* ---------------- Ended Footer ------------------*/